<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309875581161-4ih4l8j7j4frijaa93tk4iila8a87klt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309875581161-4ih4l8j7j4frijaa93tk4iila8a87klt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>309875581161-idqkblafa74ftubfq30gji55gg7e34n9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBN_DkDmcUrAD6gSyrdlp_4vKOqvKwMgE4</string>
	<key>GCM_SENDER_ID</key>
	<string>309875581161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tongbokapp</string>
	<key>PROJECT_ID</key>
	<string>tongbok-2e30e</string>
	<key>STORAGE_BUCKET</key>
	<string>tongbok-2e30e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309875581161:ios:602dc721449fc61e7cd078</string>
</dict>
</plist>